.cleanlinks--access-count span.dashicons {
	color: #8c8f94;
}

.cleanlinks--access-count span::last-child {
	font-weight: bold;
}

.cleanlinks--access-count .cleanlinks--view-times {
	font-weight: bold;
}
